html {
  font-family: Arial;
}
h3 {
  margin-bottom: 5px;
}
.pool {
  position: relative;
  font-size: 400%;
  padding: 100px;
  height: 202px;
  width: 622px;
}
.background {
  background-image: url(http://127.0.0.1:3000/background.jpg);
}
.team {
  position: absolute;
  top: 100px;
  left: 100px;
}
.swimmer {
  width: 75px;
  height: 75px;
  padding: 28px;
  padding-top: 0;
  text-align: center;
  display: inline-block;
}
.turn-left {
  transform: rotate(0deg);
}
.turn-up {
  transform: rotate(90deg);
}
.turn-right {
  transform: rotate(180deg);
}
.turn-down {
  transform: rotate(270deg);
}

.turn-upleft {
  transform: rotate(45deg);
}
.turn-upright {
  transform: rotate(135deg);
}
.turn-downright {
  transform: rotate(225deg);
}
.turn-downleft {
  transform: rotate(315deg);
}
